# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @lukehinds @jetwhiz @nabilschear @amylily1011 @mpeters @maugustosilva @font @axelsimon @ashcrow 
